<form id="form" action="/signup" method="POST">
<label for="email">E-mail</label><br>
<input type="text" name="email"
placeholder="Email">

<label for="password">Password</label><br>
<input type="password" name="password"
placeholder="Password">
</form>